<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Logueate!</h1>
            <a href="/api/sessions/github" class="btn btn-dark">LogIn con GitHub</a>
        </div>
    </div>
</div>