<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <h1>Desafio #1 - Cookies</h1>
            <form method="post" action="/enviar">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
                <button type="button" class="btn btn-danger" id="btnRecuperar">Recuperar</button>
            </form>
        </div>
    </div>
</div>

<script src="js/desafio1.js"></script>