<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1>Iniciá Sesión!</h1>
            <form method="post" action="/api/sessions/login">
                <div class="mb-3">
                    <label class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="button" class="btn btn-dark" id="btnLogIn">Iniciar Sesión</button>
                <p class="my-3">¿No tenés Usuario? <a href="/register"><b>Registrate</b></a></p>
                <p class="my-3">Loguearme con <a href="/api/sessions/github"><b>GitHub</b></a></p>
            </form>
        </div>
    </div>
</div>
<script>
function logIn() {
    let email = document.getElementById("email").value;
    let password = document.getElementById("password").value;

    fetch("/login", {
        method:"post",
        headers: {
            "Content-Type":"application/json",
            "Authorization":`${localStorage.getItem("authToken")}`
        },
        body: JSON.stringify({email, password})
    })
    .then(response => response.json())
    .then(data => {
        //localStorage.setItem("authToken", data.token);
    });
    
    console.log(document.cookie)
}

document.getElementById("btnLogIn").onclick = logIn;
</script>