<div class="container my-5">
    <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
            <h1 class="bg-dark text-warning text-center p-3">Coder Chat</h1>
            <input type="text" class="form-control" id="chatBox" placeholder="Ingrese un mensaje...">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div id="messageLogs"></div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="socket.io/socket.io.js"></script>
<script src="js/index.js"></script>